.container{
display: flex;
justify-content: center;
background-color: lightblue;
margin: 1rem;
padding: 1rem;
width: 50%;
height: 20vh;
margin-top: 2rem;
margin-bottom:2rem;
}

.Intro{
  border-bottom: 2px solid white;
  }

.intro p{
  font-size: 10px;
  font-family: arial;
  }
